body {
	margin: 0;
}
.Banner {
	background-color: #5b181a;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:1em;

}

.List {
	list-style-type: none;
	padding-bottom: 3em;
	margin-top: 0;
	background-color: black;
	li {
		float: left;
	}
	a {
		display: block;
		padding: 1em;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
	}
}

.Date {
	text-align: right;
}
.Burrito {
	display: flex;
	width:95%;
	margin: 0 auto;
}

.First {
	font-family: Arial, Helvetica, sans-serif;
	background-color: gray;
	width: 95%;
	margin: 0 auto;
	font-size: 1.5em;
	text-align: left;
}

.Second {
	font-family: Arial, Helvetica, sans-serif;
	background-color: gray;
	width: 100%;
	margin: 0 auto;
	font-size: 1.5em;
	text-align: left;
	display: flex;
}

.Pics {
	display: flex;
	flex-flow: column;
	width: 100%;
	.Upperbox1 {
		display: flex;
		justify-content: space-between;
  		flex-direction: row;
  		width: 100%;
  		margin-right: 15px;
	}
	.Lowerbox1 {
		display: flex;
		justify-content: space-between;
  		flex-direction: row;
  		width: 100%;
  		margin-right: 15px;
  		margin-top: 5px;
	}
	.newspic {
		width: 20em;
	}
	.bigpic {
		display: flex;
		width: 10em;
		overflow: hidden;
  		
}
}

.Upperbox2 {
	display: flex;
	justify-content: space-between;
  	flex-direction: row;
  	width: 100%;

}
.Lowerbox2 {
	display: flex;
	justify-content: space-between;
  	flex-direction: row;
  	width: 100%;
  	margin-right: 15px;
  	margin-top: 5px;
}

.sidebanner {
	height: 100%;
	margin-left: 10px;
}

.midbanner {
	display: flex;
	justify-content: center;
	width: 100%;
}

footer {
  margin-top: 60px;
  background-color: #191919;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 10px;
  }

.Footlist {
	list-style-type: none;
  	font-size: 0.8em;
  	padding-top: 10px;
    height: auto;

    li{
    	float: left;
    }
    a {
    	color: white;
    	display: block;
    	padding: 1em;
    	font-family: Arial, Helvetica, sans-serif;
    }
}

#para {
  display: flex;
  color:white;
  justify-content: center;
  padding-bottom: 5px; 
}